USE [master];
GO
/****** Object:  Database [PRN221DB]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE DATABASE [ShopDB];
GO
USE [ShopDB];
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Accounts]
(
    [AccountID] [INT] IDENTITY(1, 1) NOT NULL,
    [Email] [VARCHAR](50) NULL,
    [Password] [VARCHAR](50) NULL,
    [CustomerID] [NCHAR](5) NULL,
    [EmployeeID] [INT] NULL,
    [Role] [INT] NULL,
    CONSTRAINT [PK_Accounts]
        PRIMARY KEY CLUSTERED ([AccountID] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Categories]
(
    [CategoryID] [INT] IDENTITY(1, 1) NOT NULL,
    [CategoryName] [NVARCHAR](15) NOT NULL,
    [Description] [NTEXT] NULL,
    [Picture] [IMAGE] NULL,
    CONSTRAINT [PK_Categories]
        PRIMARY KEY CLUSTERED ([CategoryID] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Customers]
(
    [CustomerID] [NCHAR](5) NOT NULL,
    [CompanyName] [NVARCHAR](40) NOT NULL,
    [ContactName] [NVARCHAR](30) NULL,
    [ContactTitle] [NVARCHAR](30) NULL,
    [Address] [NVARCHAR](60) NULL,
    CONSTRAINT [PK_Customers]
        PRIMARY KEY CLUSTERED ([CustomerID] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Departments]
(
    [DepartmentID] [INT] IDENTITY(1, 1) NOT NULL,
    [DepartmentName] [NVARCHAR](50) NULL,
    [DepartmentType] [NVARCHAR](50) NULL,
    CONSTRAINT [PK_Departments]
        PRIMARY KEY CLUSTERED ([DepartmentID] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Employees]
(
    [EmployeeID] [INT] IDENTITY(1, 1) NOT NULL,
    [LastName] [NVARCHAR](20) NOT NULL,
    [FirstName] [NVARCHAR](10) NOT NULL,
    [DepartmentID] [INT] NULL,
    [Title] [NVARCHAR](30) NULL,
    [TitleOfCourtesy] [NVARCHAR](25) NULL,
    [BirthDate] [DATETIME] NULL,
    [HireDate] [DATETIME] NULL,
    [Address] [NVARCHAR](60) NULL,
    CONSTRAINT [PK_Employees]
        PRIMARY KEY CLUSTERED ([EmployeeID] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Order Details]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Order Details]
(
    [OrderID] [INT] NOT NULL,
    [ProductID] [INT] NOT NULL,
    [UnitPrice] [MONEY] NOT NULL,
    [Quantity] [SMALLINT] NOT NULL,
    [Discount] [REAL] NOT NULL,
    CONSTRAINT [PK_Order_Details]
        PRIMARY KEY CLUSTERED (
                                  [OrderID] ASC,
                                  [ProductID] ASC
                              )
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Orders]
(
    [OrderID] [INT] IDENTITY(1, 1) NOT NULL,
    [CustomerID] [NCHAR](5) NULL,
    [EmployeeID] [INT] NULL,
    [OrderDate] [DATETIME] NULL,
    [RequiredDate] [DATETIME] NULL,
    [ShippedDate] [DATETIME] NULL,
    [Freight] [MONEY] NULL,
    [ShipName] [NVARCHAR](40) NULL,
    [ShipAddress] [NVARCHAR](60) NULL,
    [ShipCity] [NVARCHAR](15) NULL,
    [ShipRegion] [NVARCHAR](15) NULL,
    [ShipPostalCode] [NVARCHAR](10) NULL,
    [ShipCountry] [NVARCHAR](15) NULL,
    CONSTRAINT [PK_Orders]
        PRIMARY KEY CLUSTERED ([OrderID] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/28/2022 7:41:13 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Products]
(
    [ProductID] [INT] IDENTITY(1, 1) NOT NULL,
    [ProductName] [NVARCHAR](40) NOT NULL,
    [CategoryID] [INT] NULL,
    [QuantityPerUnit] [NVARCHAR](20) NULL,
    [UnitPrice] [MONEY] NULL,
    [UnitsInStock] [SMALLINT] NULL,
    [UnitsOnOrder] [SMALLINT] NULL,
    [ReorderLevel] [SMALLINT] NULL,
    [Discontinued] [BIT] NOT NULL,
    CONSTRAINT [PK_Products]
        PRIMARY KEY CLUSTERED ([ProductID] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON;

INSERT [dbo].[Accounts]
(
    [AccountID],
    [Email],
    [Password],
    [CustomerID],
    [EmployeeID],
    [Role]
)
VALUES
(1, N'cust1@gmail.com', N'123', N'ERNSH', NULL, 2);
INSERT [dbo].[Accounts]
(
    [AccountID],
    [Email],
    [Password],
    [CustomerID],
    [EmployeeID],
    [Role]
)
VALUES
(2, N'cust2@gmail.com', N'123', N'FAMIA', NULL, 2);
INSERT [dbo].[Accounts]
(
    [AccountID],
    [Email],
    [Password],
    [CustomerID],
    [EmployeeID],
    [Role]
)
VALUES
(3, N'emp1@fpt.edu.vn', N'123', NULL, 5, 1);
SET IDENTITY_INSERT [dbo].[Accounts] OFF;
GO
SET IDENTITY_INSERT [dbo].[Categories] ON;

SET IDENTITY_INSERT [dbo].[Categories] OFF;
GO
INSERT [dbo].[Customers]
(
    [CustomerID],
    [CompanyName],
    [ContactName],
    [ContactTitle],
    [Address]
)
VALUES
(N'EGYJF', N'FPTU', N'ThoPN3', N'Mr', N'Vinhome Smart City');
INSERT [dbo].[Customers]
(
    [CustomerID],
    [CompanyName],
    [ContactName],
    [ContactTitle],
    [Address]
)
VALUES
(N'ERNSH', N'Ernst Handel', N'Roland Mendel', N'Sales Manager', N'Kirchgasse 6');
INSERT [dbo].[Customers]
(
    [CustomerID],
    [CompanyName],
    [ContactName],
    [ContactTitle],
    [Address]
)
VALUES
(N'FAMIA', N'Familia Arquibaldo', N'Aria Cruz', N'Marketing Assistant', N'Rua Orós, 92');
GO
SET IDENTITY_INSERT [dbo].[Departments] ON;

INSERT [dbo].[Departments]
(
    [DepartmentID],
    [DepartmentName],
    [DepartmentType]
)
VALUES
(1, N'Bussiness Department 1', N'Bussiness');
INSERT [dbo].[Departments]
(
    [DepartmentID],
    [DepartmentName],
    [DepartmentType]
)
VALUES
(2, N'Bussiness Department 2', N'Bussiness');
INSERT [dbo].[Departments]
(
    [DepartmentID],
    [DepartmentName],
    [DepartmentType]
)
VALUES
(3, N'Addministration Deparment', N'Back Office');
SET IDENTITY_INSERT [dbo].[Departments] OFF;
GO
SET IDENTITY_INSERT [dbo].[Employees] ON;

INSERT [dbo].[Employees]
(
    [EmployeeID],
    [LastName],
    [FirstName],
    [DepartmentID],
    [Title],
    [TitleOfCourtesy],
    [BirthDate],
    [HireDate],
    [Address]
)
VALUES
(1, N'Davolio', N'Nancy', 1, N'Sales Representative', N'Ms.', CAST(N'1948-12-08T00:00:00.000' AS DATETIME),
 CAST(N'1992-05-01T00:00:00.000' AS DATETIME), N'507 - 20th Ave. E.
Apt. 2A');
INSERT [dbo].[Employees]
(
    [EmployeeID],
    [LastName],
    [FirstName],
    [DepartmentID],
    [Title],
    [TitleOfCourtesy],
    [BirthDate],
    [HireDate],
    [Address]
)
VALUES
(2, N'Fuller', N'Andrew', 5, N'Vice President, Sales', N'Dr.', CAST(N'1952-02-19T00:00:00.000' AS DATETIME),
 CAST(N'1992-08-14T00:00:00.000' AS DATETIME), N'908 W. Capital Way');
INSERT [dbo].[Employees]
(
    [EmployeeID],
    [LastName],
    [FirstName],
    [DepartmentID],
    [Title],
    [TitleOfCourtesy],
    [BirthDate],
    [HireDate],
    [Address]
)
VALUES
(3, N'Leverling', N'Janet', 1, N'Sales Representative', N'Ms.', CAST(N'1963-08-30T00:00:00.000' AS DATETIME),
 CAST(N'1992-04-01T00:00:00.000' AS DATETIME), N'722 Moss Bay Blvd.');
SET IDENTITY_INSERT [dbo].[Employees] OFF;
GO
INSERT [dbo].[Order Details]
(
    [OrderID],
    [ProductID],
    [UnitPrice],
    [Quantity],
    [Discount]
)
VALUES
(10303, 40, 14.7000, 40, 0.1);
INSERT [dbo].[Order Details]
(
    [OrderID],
    [ProductID],
    [UnitPrice],
    [Quantity],
    [Discount]
)
VALUES
(10303, 65, 16.8000, 30, 0.1);
INSERT [dbo].[Order Details]
(
    [OrderID],
    [ProductID],
    [UnitPrice],
    [Quantity],
    [Discount]
)
VALUES
(10303, 68, 10.0000, 15, 0.1);
GO
SET IDENTITY_INSERT [dbo].[Orders] ON;

INSERT [dbo].[Orders]
(
    [OrderID],
    [CustomerID],
    [EmployeeID],
    [OrderDate],
    [RequiredDate],
    [ShippedDate],
    [Freight],
    [ShipName],
    [ShipAddress],
    [ShipCity],
    [ShipRegion],
    [ShipPostalCode],
    [ShipCountry]
)
VALUES
(10303, N'GODOS', 7, CAST(N'1996-09-11T00:00:00.000' AS DATETIME), CAST(N'1996-10-09T00:00:00.000' AS DATETIME),
 CAST(N'1996-09-18T00:00:00.000' AS DATETIME), 107.8300, N'Godos Cocina Típica', N'C/ Romero, 33', N'Sevilla', NULL,
 N'41101', N'Spain');
INSERT [dbo].[Orders]
(
    [OrderID],
    [CustomerID],
    [EmployeeID],
    [OrderDate],
    [RequiredDate],
    [ShippedDate],
    [Freight],
    [ShipName],
    [ShipAddress],
    [ShipCity],
    [ShipRegion],
    [ShipPostalCode],
    [ShipCountry]
)
VALUES
(10327, N'FOLKO', 2, CAST(N'1996-10-11T00:00:00.000' AS DATETIME), CAST(N'1996-11-08T00:00:00.000' AS DATETIME),
 CAST(N'1996-10-14T00:00:00.000' AS DATETIME), 63.3600, N'Folk och fä HB', N'Åkergatan 24', N'Bräcke', NULL,
 N'S-844 67', N'Sweden');
INSERT [dbo].[Orders]
(
    [OrderID],
    [CustomerID],
    [EmployeeID],
    [OrderDate],
    [RequiredDate],
    [ShippedDate],
    [Freight],
    [ShipName],
    [ShipAddress],
    [ShipCity],
    [ShipRegion],
    [ShipPostalCode],
    [ShipCountry]
)
VALUES
(10337, N'FRANK', 4, CAST(N'1996-10-24T00:00:00.000' AS DATETIME), CAST(N'1996-11-21T00:00:00.000' AS DATETIME),
 CAST(N'1996-10-29T00:00:00.000' AS DATETIME), 108.2600, N'Frankenversand', N'Berliner Platz 43', N'München', NULL,
 N'80805', N'Germany');
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF;
GO
SET IDENTITY_INSERT [dbo].[Products] ON;

INSERT [dbo].[Products]
(
    [ProductID],
    [ProductName],
    [CategoryID],
    [QuantityPerUnit],
    [UnitPrice],
    [UnitsInStock],
    [UnitsOnOrder],
    [ReorderLevel],
    [Discontinued]
)
VALUES
(1, N'Chai', 1, N'10 boxes x 20 bags', 18.0000, 39, 0, 10, 0);
INSERT [dbo].[Products]
(
    [ProductID],
    [ProductName],
    [CategoryID],
    [QuantityPerUnit],
    [UnitPrice],
    [UnitsInStock],
    [UnitsOnOrder],
    [ReorderLevel],
    [Discontinued]
)
VALUES
(2, N'Chang', 1, N'24 - 12 oz bottles', 19.0000, 17, 40, 25, 0);
INSERT [dbo].[Products]
(
    [ProductID],
    [ProductName],
    [CategoryID],
    [QuantityPerUnit],
    [UnitPrice],
    [UnitsInStock],
    [UnitsOnOrder],
    [ReorderLevel],
    [Discontinued]
)
VALUES
(3, N'Aniseed Syrup', 2, N'12 - 550 ml bottles', 10.0000, 13, 70, 25, 0);
SET IDENTITY_INSERT [dbo].[Products] OFF;
GO
/****** Object:  Index [UQ_Email]    Script Date: 9/28/2022 7:41:13 AM ******/
ALTER TABLE [dbo].[Accounts]
ADD CONSTRAINT [UQ_Email]
    UNIQUE NONCLUSTERED ([AccountID] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF,
          ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
         ) ON [PRIMARY];
GO
SET ANSI_PADDING ON;
GO
/****** Object:  Index [CategoryName]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [CategoryName]
ON [dbo].[Categories] ([CategoryName] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
SET ANSI_PADDING ON;
GO
/****** Object:  Index [CompanyName]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [CompanyName]
ON [dbo].[Customers] ([CompanyName] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
SET ANSI_PADDING ON;
GO
/****** Object:  Index [LastName]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [LastName]
ON [dbo].[Employees] ([LastName] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [OrderID]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [OrderID]
ON [dbo].[Order Details] ([OrderID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [OrdersOrder_Details]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [OrdersOrder_Details]
ON [dbo].[Order Details] ([OrderID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [ProductID]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [ProductID]
ON [dbo].[Order Details] ([ProductID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [ProductsOrder_Details]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [ProductsOrder_Details]
ON [dbo].[Order Details] ([ProductID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
SET ANSI_PADDING ON;
GO
/****** Object:  Index [CustomerID]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [CustomerID]
ON [dbo].[Orders] ([CustomerID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
SET ANSI_PADDING ON;
GO
/****** Object:  Index [CustomersOrders]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [CustomersOrders]
ON [dbo].[Orders] ([CustomerID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [EmployeeID]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [EmployeeID]
ON [dbo].[Orders] ([EmployeeID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [EmployeesOrders]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [EmployeesOrders]
ON [dbo].[Orders] ([EmployeeID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [OrderDate]    Script Date: 9/28/2022 7:41:13 AM ******/
CREATE NONCLUSTERED INDEX [OrderDate]
ON [dbo].[Orders] ([OrderDate] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [ShippedDate]    Script Date: 9/28/2022 7:41:14 AM ******/
CREATE NONCLUSTERED INDEX [ShippedDate]
ON [dbo].[Orders] ([ShippedDate] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
SET ANSI_PADDING ON;
GO
/****** Object:  Index [ShipPostalCode]    Script Date: 9/28/2022 7:41:14 AM ******/
CREATE NONCLUSTERED INDEX [ShipPostalCode]
ON [dbo].[Orders] ([ShipPostalCode] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [CategoriesProducts]    Script Date: 9/28/2022 7:41:14 AM ******/
CREATE NONCLUSTERED INDEX [CategoriesProducts]
ON [dbo].[Products] ([CategoryID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
/****** Object:  Index [CategoryID]    Script Date: 9/28/2022 7:41:14 AM ******/
CREATE NONCLUSTERED INDEX [CategoryID]
ON [dbo].[Products] ([CategoryID] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
SET ANSI_PADDING ON;
GO
/****** Object:  Index [ProductName]    Script Date: 9/28/2022 7:41:14 AM ******/
CREATE NONCLUSTERED INDEX [ProductName]
ON [dbo].[Products] ([ProductName] ASC)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON
     )
ON [PRIMARY];
GO
ALTER TABLE [dbo].[Order Details]
ADD CONSTRAINT [DF_Order_Details_UnitPrice]
    DEFAULT ((0)) FOR [UnitPrice];
GO
ALTER TABLE [dbo].[Order Details]
ADD CONSTRAINT [DF_Order_Details_Quantity]
    DEFAULT ((1)) FOR [Quantity];
GO
ALTER TABLE [dbo].[Order Details]
ADD CONSTRAINT [DF_Order_Details_Discount]
    DEFAULT ((0)) FOR [Discount];
GO
ALTER TABLE [dbo].[Orders]
ADD CONSTRAINT [DF_Orders_Freight]
    DEFAULT ((0)) FOR [Freight];
GO
ALTER TABLE [dbo].[Products]
ADD CONSTRAINT [DF_Products_UnitPrice]
    DEFAULT ((0)) FOR [UnitPrice];
GO
ALTER TABLE [dbo].[Products]
ADD CONSTRAINT [DF_Products_UnitsInStock]
    DEFAULT ((0)) FOR [UnitsInStock];
GO
ALTER TABLE [dbo].[Products]
ADD CONSTRAINT [DF_Products_UnitsOnOrder]
    DEFAULT ((0)) FOR [UnitsOnOrder];
GO
ALTER TABLE [dbo].[Products]
ADD CONSTRAINT [DF_Products_ReorderLevel]
    DEFAULT ((0)) FOR [ReorderLevel];
GO
ALTER TABLE [dbo].[Products]
ADD CONSTRAINT [DF_Products_Discontinued]
    DEFAULT ((0)) FOR [Discontinued];
GO
ALTER TABLE [dbo].[Accounts] WITH CHECK
ADD CONSTRAINT [FK_Accounts_Customers]
    FOREIGN KEY ([CustomerID])
    REFERENCES [dbo].[Customers] ([CustomerID]);
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Customers];
GO
ALTER TABLE [dbo].[Accounts] WITH CHECK
ADD CONSTRAINT [FK_Accounts_Employees]
    FOREIGN KEY ([EmployeeID])
    REFERENCES [dbo].[Employees] ([EmployeeID]);
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Employees];
GO
ALTER TABLE [dbo].[Employees] WITH CHECK
ADD CONSTRAINT [FK_Employees_Departments]
    FOREIGN KEY ([DepartmentID])
    REFERENCES [dbo].[Departments] ([DepartmentID]);
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments];
GO
ALTER TABLE [dbo].[Order Details] WITH NOCHECK
ADD CONSTRAINT [FK_Order_Details_Orders]
    FOREIGN KEY ([OrderID])
    REFERENCES [dbo].[Orders] ([OrderID]);
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [FK_Order_Details_Orders];
GO
ALTER TABLE [dbo].[Order Details] WITH NOCHECK
ADD CONSTRAINT [FK_Order_Details_Products]
    FOREIGN KEY ([ProductID])
    REFERENCES [dbo].[Products] ([ProductID]);
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [FK_Order_Details_Products];
GO
ALTER TABLE [dbo].[Orders] WITH NOCHECK
ADD CONSTRAINT [FK_Orders_Customers]
    FOREIGN KEY ([CustomerID])
    REFERENCES [dbo].[Customers] ([CustomerID]);
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers];
GO
ALTER TABLE [dbo].[Orders] WITH NOCHECK
ADD CONSTRAINT [FK_Orders_Employees]
    FOREIGN KEY ([EmployeeID])
    REFERENCES [dbo].[Employees] ([EmployeeID]);
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees];
GO
ALTER TABLE [dbo].[Products] WITH NOCHECK
ADD CONSTRAINT [FK_Products_Categories]
    FOREIGN KEY ([CategoryID])
    REFERENCES [dbo].[Categories] ([CategoryID]);
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories];
GO
ALTER TABLE [dbo].[Employees] WITH NOCHECK
ADD CONSTRAINT [CK_Birthdate] CHECK ((
                                        [BirthDate] < GETDATE()
                                    ));
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Birthdate];
GO
ALTER TABLE [dbo].[Order Details] WITH NOCHECK
ADD CONSTRAINT [CK_Discount] CHECK ((
                                       [Discount] >= (0)
                                       AND [Discount] <= (1)
                                   ));
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [CK_Discount];
GO
ALTER TABLE [dbo].[Order Details] WITH NOCHECK
ADD CONSTRAINT [CK_Quantity] CHECK ((
                                       [Quantity] > (0)
                                   ));
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [CK_Quantity];
GO
ALTER TABLE [dbo].[Order Details] WITH NOCHECK
ADD CONSTRAINT [CK_UnitPrice] CHECK ((
                                        [UnitPrice] >= (0)
                                    ));
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [CK_UnitPrice];
GO
ALTER TABLE [dbo].[Products] WITH NOCHECK
ADD CONSTRAINT [CK_Products_UnitPrice] CHECK ((
                                                 [UnitPrice] >= (0)
                                             ));
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_UnitPrice];
GO
ALTER TABLE [dbo].[Products] WITH NOCHECK
ADD CONSTRAINT [CK_ReorderLevel] CHECK ((
                                           [ReorderLevel] >= (0)
                                       ));
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_ReorderLevel];
GO
ALTER TABLE [dbo].[Products] WITH NOCHECK
ADD CONSTRAINT [CK_UnitsInStock] CHECK ((
                                           [UnitsInStock] >= (0)
                                       ));
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_UnitsInStock];
GO
ALTER TABLE [dbo].[Products] WITH NOCHECK
ADD CONSTRAINT [CK_UnitsOnOrder] CHECK ((
                                           [UnitsOnOrder] >= (0)
                                       ));
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_UnitsOnOrder];
GO
/****** Object:  StoredProcedure [dbo].[CustOrderHist]    Script Date: 9/28/2022 7:41:14 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[CustOrderHist] @CustomerID NCHAR(5)
AS
SELECT ProductName,
       Total = SUM(Quantity)
FROM Products P,
     [Order Details] OD,
     Orders O,
     Customers C
WHERE C.CustomerID = @CustomerID
      AND C.CustomerID = O.CustomerID
      AND O.OrderID = OD.OrderID
      AND OD.ProductID = P.ProductID
GROUP BY ProductName;
GO
/****** Object:  StoredProcedure [dbo].[CustOrdersDetail]    Script Date: 9/28/2022 7:41:14 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[CustOrdersDetail] @OrderID INT
AS
SELECT ProductName,
       UnitPrice = ROUND(Od.UnitPrice, 2),
       Quantity,
       Discount = CONVERT(INT, Discount * 100),
       ExtendedPrice = ROUND(CONVERT(MONEY, Quantity * (1 - Discount) * Od.UnitPrice), 2)
FROM Products P,
     [Order Details] Od
WHERE Od.ProductID = P.ProductID
      AND Od.OrderID = @OrderID;
GO
/****** Object:  StoredProcedure [dbo].[CustOrdersOrders]    Script Date: 9/28/2022 7:41:14 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[CustOrdersOrders] @CustomerID NCHAR(5)
AS
SELECT OrderID,
       OrderDate,
       RequiredDate,
       ShippedDate
FROM Orders
WHERE CustomerID = @CustomerID
ORDER BY OrderID;
GO
/****** Object:  StoredProcedure [dbo].[Employee Sales by Country]    Script Date: 9/28/2022 7:41:14 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[Employee Sales by Country]
    @Beginning_Date DATETIME,
    @Ending_Date DATETIME
AS
SELECT Employees.Country,
       Employees.LastName,
       Employees.FirstName,
       Orders.ShippedDate,
       Orders.OrderID,
       "Order Subtotals".Subtotal AS SaleAmount
FROM Employees
    INNER JOIN(Orders
    INNER JOIN "Order Subtotals"
        ON Orders.OrderID = "Order Subtotals".OrderID)
        ON Employees.EmployeeID = Orders.EmployeeID
WHERE Orders.ShippedDate
BETWEEN @Beginning_Date AND @Ending_Date;
GO
/****** Object:  StoredProcedure [dbo].[Sales by Year]    Script Date: 9/28/2022 7:41:14 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[Sales by Year]
    @Beginning_Date DATETIME,
    @Ending_Date DATETIME
AS
SELECT Orders.ShippedDate,
       Orders.OrderID,
       "Order Subtotals".Subtotal,
       DATENAME(yy, ShippedDate) AS Year
FROM Orders
    INNER JOIN "Order Subtotals"
        ON Orders.OrderID = "Order Subtotals".OrderID
WHERE Orders.ShippedDate
BETWEEN @Beginning_Date AND @Ending_Date;
GO
/****** Object:  StoredProcedure [dbo].[SalesByCategory]    Script Date: 9/28/2022 7:41:14 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[SalesByCategory]
    @CategoryName NVARCHAR(15),
    @OrdYear NVARCHAR(4) = '1998'
AS
IF @OrdYear != '1996'
   AND @OrdYear != '1997'
   AND @OrdYear != '1998'
BEGIN
    SELECT @OrdYear = '1998';
END;

SELECT ProductName,
       TotalPurchase = ROUND(SUM(CONVERT(DECIMAL(14, 2), OD.Quantity * (1 - OD.Discount) * OD.UnitPrice)), 0)
FROM [Order Details] OD,
     Orders O,
     Products P,
     Categories C
WHERE OD.OrderID = O.OrderID
      AND OD.ProductID = P.ProductID
      AND P.CategoryID = C.CategoryID
      AND C.CategoryName = @CategoryName
      AND SUBSTRING(CONVERT(NVARCHAR(22), O.OrderDate, 111), 1, 4) = @OrdYear
GROUP BY ProductName
ORDER BY ProductName;
GO
/****** Object:  StoredProcedure [dbo].[Ten Most Expensive Products]    Script Date: 9/28/2022 7:41:14 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[Ten Most Expensive Products]
AS
SET ROWCOUNT 10;
SELECT Products.ProductName AS TenMostExpensiveProducts,
       Products.UnitPrice
FROM Products
ORDER BY Products.UnitPrice DESC;
GO
USE [master];
GO
