<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page> 
        <error-code>404</error-code> 
        <location>/ErrorPage/error404.jsp</location> 
    </error-page>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controllers.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryListController</servlet-name>
        <servlet-class>controllers.CategoryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controllers.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfo</servlet-name>
        <servlet-class>controllers.EditInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>controllers.DetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachServlet</servlet-name>
        <servlet-class>controllers.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>controllers.ProductManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAdmin</servlet-name>
        <servlet-class>controllers.SearchProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controllers.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>controllers.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controllers.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAmountProduct</servlet-name>
        <servlet-class>controllers.CartActionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItem</servlet-name>
        <servlet-class>controllers.RemoveCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartOrder</servlet-name>
        <servlet-class>controllers.CartOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailSevlet</servlet-name>
        <servlet-class>controllers.OrderDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/product-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryListController</servlet-name>
        <url-pattern>/category-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfo</servlet-name>
        <url-pattern>/account/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/ManageProduct</url-pattern>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAdmin</servlet-name>
        <url-pattern>/SearchAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAmountProduct</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItem</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartOrder</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailSevlet</servlet-name>
        <url-pattern>/order-detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
